.cards {
  display: flex;
}

.orderKitchenCard {
  padding: 15px 10px 25px;
  margin: 10px;
}

.containerActionButtons {
  display: flex;
}

.containerOrderKitchenBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
